################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/lab4/lab4/Data/university.mdf
